body {
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 20s;
}

@keyframes bgcolor {
  0% {
    background: #e74c3c;
  }
  20% {
    background: #2980b9;
  }
  40% {
    background: #f1c40f;
  }
  60% {
    background: #8e44ad;
  }
  80% {
    background: #34495e;
  }
  100% {
    background: #e74c3c;
  }
}

.allText {
  margin-top: 20%;
}

#time {
  text-align: center;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 200%;
}

.scroll-text {
  margin-left: 25%;
  width: 50%;
  height: 50%;
  overflow: hidden;
  position: relative;
  color: white;
}

#txt {
  font-size: 200%;
  height: 50%;
  line-height: 50px;
  text-align: center;

  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  /* Apply animation to this element */
  -moz-animation: scroll-left 7s linear infinite;
  -webkit-animation: scroll-left 7s linear infinite;
  animation: scroll-left 7s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

.animation-area {
  width: 100%;
  height: 100vh;
}

#box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background-color: rgba(29, 2, 2, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

#box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 1.5s;
  animation-duration: 0s;
}

#box-area li:nth-child(1) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

#box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

#box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

#box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

#box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

#box-area li:nth-child(7) {
  left: 85%;
  width: 90px;
  height: 90px;
  animation-delay: 8s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px);
    opacity: 0;
  }
}
